<%- include('body-up') %>
<%- include('navbar') %>

<h1 style="font-size: 18px; position: relative">Welcome Back <span
            style="color: skyblue;"><%= superUser.userName %></span> </h1>
<form action="/super/auth/logout" method="post">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>

<h4>All Users</h4>
<% if (locals.users) { %>
<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">UserName</th>
            <th scope="col">email</th>
        </tr>
    </thead>
    <tbody>
        <% for (const user of users) { %>
        <tr>
            <th><%= user.firstName %></th>
            <td><%= user.lastName %></td>
            <td><%= user.userName %></td>
            <td><%= user.email %></td>
        </tr>
        <% } %>
    </tbody>
</table>
<% } else { %>
<h3>No Users Yet</h3>
<% } %>


<br>
<br>
<h4>All Orders</h4>
<% if (locals.orders) { %>
<table class="table">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Quantity</th>
            <th scope="col">Adresse</th>
            <th scope="col">SupportType</th>
        </tr>
    </thead>
    <tbody>
        <% for (const order of orders) { %>
        <tr>
            <th><%= order.userId.userName %></th>
            <td><%= order.quantity %></td>
            <td><%= order.adresse %></td>
            <td><%= order.supportType %></td>
        </tr>
        <% } %>
    </tbody>
</table>
<% } else { %>
<h3>No Orders Yet</h3>
<% } %>

<%- include('body-down') %>